*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 148, 201);
    width: 20rem;
    height: fit-content;
    padding: 1.5rem;
    gap: 20px;
}

form input {
    width: 90%;
    padding: 1.5rem;
    margin:  auto;
}

form button {
    width: 90%;
    padding: 1.5rem;
    margin: auto;
    background-color: transparent;
    border: 3px solid white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

form ul li input{
    width: fit-content;
    margin: 1rem;
}

.categories{
    list-style-type: none;
}

.general{
    color: green;
}

.gym{
    color: red;
}

.hobby{
    color: blue;
}

