.todo{
    display: flex;
    padding: 1rem;
    width: 100%;
    gap: 5rem;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
}

.icons{
    display: flex;
    gap: 1rem;
}
